
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.axe {
    border: solid;
    border-color: darkgray;
    border-radius: inherit;
    padding: inherit;
    text-align: center;
    background-color: #eee;
}

.question {
    margin-bottom: 1.5rem;
    border-left: solid;
    border-color: lightgrey;
    border-width: medium;
    padding: 30px;
    padding-top: initial;
    padding-bottom: initial;
    margin-top: 60px;
}

.question h3 {
    margin-top: 0;
}

.question ul {
    list-style-type: none;
    padding: 0px;
}

li {
    background-color: #eee;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.question p {
    margin: 2rem 0 0 0;
    padding: 0.5rem;
    background-color: #b8ebf8;
    border-left: 5px solid #3cb4e8;
    border-radius: 5px;
}

.choix {
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
    background-color: #89fcc1;
    border-left: 5px solid #16c55f;
    border-radius: 5px;
}

#chart {
    width: 50%;
    height: 250px;
    margin-top: 20px;
}
 
footer {
    background-color: #777;
    width: 100%;
    padding: 1rem 0;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
  }